body {
    background-color: lavender;
    font-family: 'Montserrat', sans-serif;
}

#display-container {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

h1 {
    font-size: 3em;
}

label {
    display: inline-flex;
    width: 90px;
}

button {
    border-radius: 5px;
    margin-left: 2px;
}

select {
    width: 165px;
}

fieldset {
    background-color: lightsteelblue;
}

#input-container h2 {
    padding: 5px;
    margin-bottom: 0;

}

#input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45vw;
    align-self: center
}

#results-container {
    border: 1px solid;
    margin: 5px 0 5px 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45vw;
    align-self: center
}

#itinerary-container {
    border: 1px solid;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45vw;
    align-self: center
}

fieldset section {
    display: flex;
    justify-content: space-between;
}

/* #results-container li {
    display: flex;
    justify-content: space-between;
} */