body {
    background-color: lavender;
    font-family: 'Montserrat', sans-serif;
}
.nashImg{
    max-width: 100%;
}
#navHeader {
    margin-top: -53px;
    color: white;
    background-color: black;
    margin-right: 12px;
    margin-left: 8px;
    padding-bottom: 11px;
    padding-top: 5px;
}

#display-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#parentCheckbox {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

h1 {
    font-size: 3em;
}

label {
    display: inline-flex;
    width: 90px;
}

button {
    border-radius: 5px;
    margin-left: 2px;
}

select {
    width: 165px;
}

fieldset {
    background-color: lightsteelblue;
}

#input-container h2 {
    padding: 5px;
    margin-bottom: 0;

}

#input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45vw;
    align-self: center
}

#results-container {
    border: 1px solid;
    margin: 10px 0 5px 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45vw;
    align-self: center
}

#itinerary-container {
    border: 1px solid;
    margin: 5px 0 5px 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45vw;
    align-self: center
}

#saved-itineraries-container {
    border: 1px solid;
    margin: 5px 0 5px 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45vw;
    align-self: center
}

fieldset section {
    display: flex;
    justify-content: space-between;
}


ol {
    text-align: left;
}

/* #results-container li {
    display: flex;
    justify-content: space-between;
} */